<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Buyurtmalar</title>
  <link rel="stylesheet" href="../../vendors/typicons.font/font/typicons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <link rel="shortcut icon" href="../../images/favicon.png"/>
</head>
<body>
<div class="container-scroller">
  <nav th:replace="client/layout/navbar :: navbar"></nav>
  <div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <div class="d-flex sidebar-profile">
            <div class="sidebar-profile-image">
              <img src="../images/faces/user-avatar.png" alt="image">
              <span class="sidebar-status-indicator"></span>
            </div>
            <div class="sidebar-profile-name">
              <p class="sidebar-name">
                Client
              </p>
              <p class="sidebar-designation">
                Welcome
              </p>
            </div>
          </div>
          <div class="nav-search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Type to search..." aria-label="search"
                     aria-describedby="search">
              <div class="input-group-append">
                  <span class="input-group-text" id="search">
                    <i class="typcn typcn-zoom"></i>
                  </span>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/static">
            <i class="typcn typcn-device-desktop menu-icon"></i>
            <span class="menu-title">Dashboard <span class="badge badge-primary ml-3">New</span></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
             aria-controls="ui-basic">
            <i class="typcn typcn-briefcase menu-icon"></i>
            <span class="menu-title">Buyurtmalar</span>
            <i class="typcn typcn-chevron-right menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" th:href="@{'/c'}">Yangi buyurtma berish</a>
              </li>
              <li class="nav-item"><a class="nav-link"
                                      th:href="@{'/c/order-view-unfinished'}">Bajarilmagan buyurtmalar</a></li>
              <li class="nav-item"><a class="nav-link"
                                      th:href="@{'/c/order-view-finished'}">Tugallangan buyurtmalar</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
             aria-controls="form-elements">
            <i class="typcn typcn-film menu-icon"></i>
            <span class="menu-title">Hisobot</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="form-elements">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="/c/monthly">Oylik</a></li>
            </ul>
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="/c/kvartal">Kvartal</a></li>
            </ul>
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="/c/yearly">Yillik</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row  mt-3">
          <div class="col-xl-12 d-flex grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between">
                  <h4 class="card-title mb-3">Buyurtmalar</h4>
                  <br>
                </div>
                <div class="mt-2">
                  <div class="d-flex align-items-center justify-content-md-end">
                    <div class="mb-3 mb-xl-0 pr-1">
                      <div class="dropdown">
                        <button class="btn bg-white btn-sm dropdown-toggle btn-icon-text border mr-2"
                                type="button" id="dropdownMenu" data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                          <i class="typcn typcn-calendar-outline mr-2"></i>[[${kvartal}]]
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3"
                             data-x-placement="top-start">
                          <a class="dropdown-item" th:href="@{/c/kvartal/1}">1</a>
                          <a class="dropdown-item" th:href="@{/c/kvartal/2}">2</a>
                          <a class="dropdown-item" th:href="@{/c/kvartal/3}">3</a>
                          <a class="dropdown-item" th:href="@{/c/kvartal/4}">4</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                    <tr th:each="task : ${tasksForShow}">
                      <td>
                        <div class="d-flex">
                          <div>
                            <div> Title</div>
                            <div class="font-weight-bold mt-1" th:utext="${task.getTitle()}"></div>
                          </div>
                        </div>
                      </td>
                      <td>
                        Department
                        <div class="font-weight-bold  mt-1" th:utext="${task.getDepartment()}"></div>
                      </td>
                      <td>
                        Status
                        <div class="font-weight-bold text-success  mt-1" th:utext="${task.getStatus()}"></div>
                      </td>
                      <td>
                        Date
                        <div class="font-weight-bold  mt-1" th:utext="${task.getDate()}"></div>
                      </td>
                      <td>
                        Time
                        <div class="font-weight-bold  mt-1" th:utext="${task.getStart_time()}"></div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="text-right">
                    <input class="btn btn-light" type="button" value="Orqaga!" onclick="history.back()">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
</div>
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<script src="../../js/off-canvas.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<script src="../../js/template.js"></script>
<script src="../../js/settings.js"></script>
<script src="../../js/todolist.js"></script>
<script src="../../js/custom.js"></script>
<script src="../../vendors/progressbar.js/progressbar.min.js"></script>
<script src="../../vendors/chart.js/Chart.min.js"></script>
<script src="../../js/dashboard.js"></script>

</body>
</html>

